$color-background: #0d1018;
$color-text-light: #e7e7e8;
$color-text-medium: #cfcfd1;
$color-text-dark: #b6b7ba;

$color-accent: #e02d00;
$color-accent-hover: #ff582e;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100lvh;
  background-color: $color-background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 1.4rem;
  color: $color-text-light;
}

.watchlist__error {
  text-align: center;
}

.main {
  height: calc(100% - 56px - 58px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 0;
}

.main.active {
  position: fixed;
}

.container {
  height: 100%;
  max-width: calc(100% - 10vw);
  margin: 0 auto;
}

.container:has(.featured) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  gap: 2rem;
  row-gap: 4rem;

  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.container:has(.mobile-menu__hamburger) {
  display: flex;
  justify-content: space-between;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.8rem;

  &__link {
    display: block;
    max-width: 24rem;
  }

  &__img {
    width: 24rem;
    height: auto;
  }
}

.modal {
  position: absolute;
  top: 6rem;
  right: 5vw;

  transform: translateY(-10rem);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  border-radius: 8px;
  border: 1px solid $color-accent;
  max-width: fit-content;
  padding: 1rem 2rem;

  &__message {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.modal.active {
  transform: translateY(0);
  opacity: 1;
}
