$color-background: #0d1018;
$color-text-light: #e7e7e8;
$color-text-medium: #cfcfd1;
$color-text-dark: #b6b7ba;

$color-accent: #e02d00;
$color-accent-hover: #ff582e;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100lvh;
  background-color: $color-background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  font-size: 1.4rem;
  color: $color-text-light;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.container {
  max-width: calc(100% - 10vw);
  margin: 0 auto;
}

.container:has(.featured) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  gap: 2rem;

  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
